

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 60px; /* Aumenta el margen superior para mayor separación */
    color: black;
}

th, td {
    border: 1px solid black;
    padding: 10px; /* Aumenta el padding para más espacio dentro de las celdas */
    text-align: left;
}

th {
    background-color: rgba(0, 0, 0, 0.5); /* Ajuste en la opacidad */
    color: black;
}

td {
    color: rgb(0, 0, 0);
}

/* Estilos para enlaces */
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

/* Estilos para el botón personalizado */
button {
    background-color: navy;
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 12px 26px; /* Aumenta el padding para un botón más grande */
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
    margin-right: 15px; /* Aumenta el margen derecho para más espacio entre botones */
}

button:hover {
    background-color: rgb(0, 0, 0);
}

button:active {
    background-color: rgb(166, 166, 166);
}

button a {
    text-decoration: none;
    color: white;
}
