.carrusel {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
}

.carrusel ul {
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%; /* Ajustado para 6 elementos */
    animation: slide 30s infinite ease-in-out; /* Aumenta el tiempo total */
}

.carrusel li {
    flex: 0 0 100%;
    list-style: none;
    position: relative;
}

.carrusel .texto {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255); 
    background-color: rgb(118, 15, 15); 
    padding: 5px 5px; 
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
}

.carrusel .texto h2 {
    font-size: 2em;
    margin-bottom: 15px;
}

.carrusel img {
    width: 100%;
   height: 40%;
    display: block;
}

@keyframes slide {
    0% { transform: translateX(0); }
    10% { transform: translateX(0); } /* Mantener la primera imagen más tiempo */
    20% { transform: translateX(-100%); } /* Transición a la segunda imagen */
    30% { transform: translateX(-100%); } /* Mantener la segunda imagen */
    40% { transform: translateX(-200%); } /* Transición a la tercera imagen */
    50% { transform: translateX(-200%); } /* Mantener la tercera imagen */
    60% { transform: translateX(-300%); } /* Transición a la cuarta imagen */
    70% { transform: translateX(-300%); } /* Mantener la cuarta imagen */
    80% { transform: translateX(-400%); } /* Transición a la quinta imagen */
    90% { transform: translateX(-400%); } /* Mantener la quinta imagen */
    100% { transform: translateX(-500%); } /* Transición a la sexta imagen */
}
