
/* Otros estilos (por ejemplo, tablas o botones) */
body {
    font-family: Arial, sans-serif;
    background-image: url("/Conexion/image-conexion/Comentarios.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    color: white;
    padding: 30px; /* Añade un padding general para separar el contenido de los bordes del cuerpo */


}
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 60px; /* Aumenta el margen superior para mayor separación */
    color: black;
}

th, td {
    border: 1px solid black;
    padding: 10px; /* Aumenta el padding para más espacio dentro de las celdas */
    text-align: left;
}

th {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}

td {
    color: white;
}

/* Estilos para enlaces */
a {
    text-decoration: none;
    color: white;
}

/* Estilos para el botón personalizado */
button {
    background-color: navy;
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 12px 26px; /* Aumenta el padding para un botón más grande */
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
    margin-right: 15px; /* Aumenta el margen derecho para más espacio entre botones */
}

button:hover {
    background-color: rgb(0, 0, 0);
}

button:active {
    background-color: rgb(166, 166, 166);
}

/* Mantén los enlaces en los botones con su color original */
button a {
    text-decoration: none;
    color: white;
}

/* Estilos para el cuerpo */

